/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;


/* Background global */
.app-bg {
  min-height: 100vh;
  background-image: url('/assets/backgrounds/bg-login.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
}

/* Logo global */
.app-logo {
  width: 120px;
  margin: 20px auto 10px;
  display: block;
}

/* Contenu des pages */
.app-content {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Carte blanche standard */
.card {
  background: rgba(255,255,255,0.88);
  backdrop-filter: blur(6px);
  border-radius: 14px;
  padding: 24px;
  box-shadow: 0 12px 30px rgba(0,0,0,.2);
  width: 100%;
  max-width: 1100px;
}